#manager{ :style => 'overflow: auto; height: 500px;border: 1px solid grey; width: 960px;' }
  #sections{ :style => 'margin-left: 25px; width: 150px; float: left;' }
    %h3
      Sections

    = link_to_remote 'Add Section', :update => 'section_items', :url => "/sections/new", :after => "$('section_items').show();$('rendered_items').innerHTML='';$('rendered_items').hide();"
    = render :partial => 'sections/search_results', :locals => { :sections => @sections }

  #section_items{ :style  => 'margin-left: 25px; width: 125px; float: left;' }
  #rendered_items{ :style => 'margin-left: 25px; width: 300px; float: left;display: none' }
  #page_pictures{ :style  => 'margin-left: 25px; width: 225px; float: left;display: none' }


  %script{ :type => 'text/javascript' }
    = remote_function :url => "/section/#{@sections.first.id}/items",     :update => 'section_items'
  
    - if @sections.first.pages.count >= 1
      = remote_function :url => "/pages/#{@sections.first.pages.first.id}/edit", :update => 'rendered_items', :after => "$('rendered_items').show();$('page_pictures').show();"
    