%h2= t 'links.edit_item', :item => t('activerecord.models.article')
#tabs
  %ul
    %li= link_to t('links.item_details', :item => t('activerecord.models.article')), '#tabs-1'
    %li= link_to t('links.item_keywords', :item => t('activerecord.models.article')), '#tabs-2'
    %li= link_to t('links.item_assets', :item => t('activerecord.models.article')), '#tabs-3'
  #tabs-1= render :partial => 'article_editor', :object => @article
  #tabs-2= render :partial => 'shared/keywords', :locals => { :resource_keywords => @article.keywords.map(&:name) }
  .spacer
  #tabs-3
    .splitcontentleft
      #images_list
        - @article.assets.each do |asset|
          = image_tag asset.asset.url(:small)
      %file#uploadify{ :name => 'asset' }
    .splitcontentright
    = render 'shared/uploadify', :object => @article
    .spacer
:javascript
  $(function() {
    add_images();
  })
