%h2= t 'common.headers.item_list', :item => t('activerecord.models.article').pluralize
%p.information
  %span.bold= t('messages.information') + ':'
  = t '.instructions'

%table.tabular{ :cellpadding => 0, :cellspacing => 0 }
  %thead
    %tr
      %th= t 'common.fields.name'
      %th= t 'common.fields.created_at'
      %th= t 'common.fields.updated_at'
      %th= t 'common.messages.options'
    %tbody= render :partial => 'article', :collection => @articles
= will_paginate @articles
