!!!5
%html
  %head
    %meta{ :charset => 'utf-8' }
    %title= content_for?(:title) ? yield(:title) : 'Simple Blog'
    = stylesheet_link_tag 'application', 'simple_blog'
  %body
    = render :partial => 'layouts/themes/simple_blog/nav'
    #wrapper
      #content= yield
      #sidebar= render :partial => 'layouts/themes/simple_blog/sidebar'
      .clear
      #footer= render :partial => 'layouts/themes/simple_blog/footer'

