#login_form
  = form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
    %fieldset
      = devise_error_messages!

      = f.label :email
      = f.text_field :email, :class => :"input_text shadowed"

      = f.label :username
      = f.text_field :username, :class => :"input_text shadowed"

      = f.label :password
      = f.password_field :password, :class => :"input_password shadowed"

      = f.label :password_confirmation
      = f.password_field :password_confirmation, :class => :"input_password shadowed"

      = f.submit t('devise.forms.sign_up')

.more_options
  = render :partial => "devise/shared/links"
