- form_for(@person, :html => { :class => 'form' } ) do |f|
  = f.error_messages
  = f.hidden_field :user_id

  .half{ :style => "width: 65%;"}
    .row
      %span.label= 'First name'
      %span.formw= f.text_field :first_name
    .row
      %span.label= 'Middle name'
      %span.formw= f.text_field :middle_name
    .row
      %span.label= 'Last name'
      %span.formw= f.text_field :last_name
    .row
      %span.label= 'Gender'
      %span.formw= f.select :gender, [ 'male', 'female' ], :include_blank => true
    .row
      %span.label= 'Date of birth'
      %span.formw= f.text_field :date_of_birth, :size => 15
    .row
      %span.label= 'Bio'
      %span.formw= f.text_area :bio, :rows => 10, :cols => 50
    .row
      %span.label= 'Likes'
      %span.formw= f.text_area :likes, :rows => 10, :cols => 50    
    .row
      %span.formw
        %button.submit Submit


%script{ :type => 'text/javascript' }
  $(document).ready(function() { 
  $('#person_date_of_birth').datepicker( { changeYear: true, yearRange: '1950:2005' } );
  $("#page_has_contact").button( { icons: { primary: 'ui-icon-mail-closed' } } );  
  submit_button();
  } );