- form_for( person, :html => { :multipart => true }, :url => { :controller => 'people', :action => "update" } ) do |f|
  = f.error_messages

  - if person.photo_file_name.nil?
    = f.label :photo, 'Imagen:', :style => 'margin-left: 10px;'
  - else
    = f.label :photo, 'Cambiar Imagen:', :style => 'margin-left: 10px;'

  = f.file_field :photo, :size => 20
  = link_to image_tag( 'icons/cancel.png' ), 'javascript:void(null);', :onclick => "$('upload_person_photo').hide();", :title => :cancelar
  
  %br
  
  = submit_tag 'Enviar'