%table.list
  %thead
    %tr
      %th title
      %th author
      %th created at
      %th last changed
      %th operations
  - @articles.each do |article|
    %tr{ :class => cycle(:odd, :even) }
      %td= link_to article.title, show_article_path(article.user.username, article.name), :target => :_blank
      %td= article.user.username
      %td= article.created_at.strftime("%B, %d %Y")
      %td= article.updated_at.strftime("%B, %d %Y")
      %td
        = link_to 'Edit', edit_article_path(article), :class => 'icon icon_bullet_pencil'
        = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete, :class => 'icon icon_bullet_delete'

= will_paginate @articles

