= form_for @article  do |f|
  - if @article.errors.any?
    = render 'shared/error_explanation', :object => @article
  
  #article_content
    = f.hidden_field :keywords, :id => :final_keywords_list
    %label{ :for => :article_name }
      Name
      %small Your article name will be used to create a friendly url, pick one wisely.
    = f.text_field  :name
    = f.text_area :content, :class => 'wymeditor'
    %label{ :for => :article_type }
      Type
      %small This is the type of article this is, example (article, review or news)
    = f.select :kind, [ %w(Post post), %w(Review review), %w(News news) ]
    
    .buttonset
      = f.check_box :in_home_page, :class => 'home-article'
      = f.label     :in_home_page?, 'Display in home page?'
    %button{ :class => 'wymupdate' } Submit
    
- content_for :sidebar do
  #operations_placeholder
    %h3 Posts Operations
    - if params[:action] == 'edit'
      = link_to 'Create a new article',      new_article_path,  :class => 'icon icon_article_add'
    = link_to 'Go back to the article list', articles_path,     :class => 'icon icon_back'
    
:javascript
  $(document).ready(function() {
    $('#tabs').tabs();
    $('.wymupdate').button({ icons: { primary: "ui-icon-circle-check" } });
    $('.buttonset').buttonset();
    $('.home-article').button({ icons: { primary: "ui-icon-home" } });
    $('.contact-form').button({ icons: { primary: "ui-icon-mail-closed" } });
    $('.published').button({ icons: { primary: "ui-icon-check" } });
    $('#new_article_menu_link').addClass('selected');
    $('#keyword_button').button({ icons: { primary: "ui-icon-circle-plus" } });
    $('#keyword_button').css('position', 'relative').css('top', '-5px');
    add_keywords();
    existing_keywords();
  });