- form_for @article, :html => { :multipart => :true, :class => 'form' } do |f|
  = f.error_messages  
  
  #post_content
    .splitcontentleft
      %p
        = f.label :title
        = f.text_field :title
      %p
        = f.label :crest
        = f.text_field :crest
      %p= f.text_area :body, :class => :mceEditor

      #article_type
        = f.check_box :is_post
        = f.label     :is_post,   'P', :title => 'Is post'
        = f.check_box :is_news
        = f.label     :is_news,   'N', :title => 'Is news'
        = f.check_box :is_review
        = f.label     :is_review, 'R', :title => 'Is review'
      
      %br
      
      #check_box_format
        = f.check_box :show_in_homepage
        = f.label     :show_in_homepage
    
      %br.clear
      %button.submit Submit
      
    .splitcontentright
      %p
        %label Extras

      #accordion
        %h6
          %a{ :href => '#' }= 'Upload images'
        #images
          - f.fields_for :photos do |photo|
            = render 'photo', :f => photo
          %span
            = add_child_link "New Photo",   :photos
            = new_child_fields_template f,  :photos
        %h6
          %a{ :href => '#' }= 'Upload documents'
        #documents_new
          - f.fields_for :documents do |upload|
            = render 'document', :f => upload
          %span
            = add_child_link "New Document",  :documents
            = new_child_fields_template f,    :documents