%h1= @article.title
%span.small-text
  = "Escrito por " + link_to( @article.user.username, '#', :class => 'hl1' ) + " hace " + say_it_in_spanish( time_ago_in_words( @article.created_at ) )
%p= coderay @article.body

= show_sexy_bookmarks({ :title => @article.title, :permalink => permalink, :post_summary => @article.crest, :site_name => 'CloverInteractive' }, [ :facebook, :twitter, :blogger, :digg, :delicious, :meneame, :stumbleupon, :slashdot, :linkedin, :googlebuzz, :myspace, :googlebookmarks, :friendfeed, :orkut ] )

%br
%h6= "Comentarios"
%br

#comments
  - iteration = 0
  - @comments.each do |comment|
    .comment{ :style => ( iteration == 0 ? 'border-top: 1px solid #e3e3e3;' : '' ) }
      .gravatar
        = image_tag comment.user.gravatar_url(:size => 50), :alt => comment.user.username, :class => "profile_pic"
      .content
        %span.hl1= comment.user.username + ":"
        = comment.content
        %span.small-text= "hace " + say_it_in_spanish( time_ago_in_words( comment.created_at ) )
      - iteration += 1
%br

- if user_signed_in? && ( current_user.admin? || current_user.roles.find_by_name( "Post commenter" ) )
  - form_for [ @article, Comment.new ], :html => { :class => 'forms' } do |f|
    %p= f.text_area :content, :class => 'mceEditor'
    %p= f.submit 'Crear Comentario', :class => 'input_submit'

%br
%br
= link_to 'Volver a la lista', articles_path, :class => 'hl1'

