%h3
  = "Add new Page to " + @subsection.name
  
- form_for( Page.new, :url => { :controller => 'pages', :action => 'create' } ) do |f|
  = f.hidden_field :subsection_id, :value => @subsection.id
  
  = f.label :title
  %br
  = f.text_field :title
  %br
  = f.label :body
  %br
  = f.text_area :body
  %br
  %br
  = f.submit 'Create'