#personal_box
  = 'Datos Personales ' + user.username

#upload_person_photo.title{ :style => 'display: none;' }
  = render :partial => 'people/upload_person_photo', :locals => { :person => user.person }

#user_email_label
  Email
#user_email
  = user.email
%br.clear
  
#update_first_name_label
  Primer Nombre:
#update_first_name
  = in_place_editor_field :person, 'first_name'
%br.clear

#update_middle_name_label
  Segundo Nombre:
#update_middle_name
  = in_place_editor_field :person, 'middle_name'
%br.clear

#update_last_name_label
  Apellido:
#update_last_name
  = in_place_editor_field :person, 'last_name'
%br.clear

#gender_label
  Sexo:

#gender_text
  - if user.person.gender.blank? 
    = link_to 'no especificado', 'javascript:void(null)', :onclick => "showItem($('update_gender'), $('gender_text'));"
  - elsif user.person.gender == 'male'
    = link_to image_tag('icons/user.png'),        'javascript:void(null)', :onclick => "showItem($('update_gender'), $('gender_text'));"
  - else
    = link_to image_tag('icons/user_female.png'), 'javascript:void(null)', :onclick => "showItem($('update_gender'), $('gender_text'));"
    

#update_gender{ :style => 'padding-top: 10px; display: none;' }
  = render :partial => 'people/update_gender', :locals => { :person => user.person }
