%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('main').addClassName('nosidebar');
  //]]>
  
#login-form
  -form_tag do
    %table
      %tr
        %td{ :align => 'right' }
          = label_tag :password, 'Password'
          %span.required *
        %td{ :align => 'left' }
          %p
            = password_field :user, :pass, :size => 30
      %tr
        %td{ :align => 'rigth' }
          = label_tag :password_confirmation, 'Confirm Password'
          %span.required *
        %td{ :align => 'left' }
          %p
            = password_field :user, :pass_confirmation, :size => 30
      %tr
        %td
        %td
    
      %tr
        %td{ :align => 'right' }
          = submit_tag 'Change Password'