%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('main').addClassName('nosidebar');
  //]]>
  
#login-form
  -form_tag do
    %table
      %tr
        %td{ :align => 'right' }
          = label_tag :email, 'Login'
        %td{ :align => 'left' }
          %p
            = text_field_tag :email_or_username, nil, :size => 40
      %tr
        %td{ :align => 'right' }
          = label_tag :password, 'Password'
        %td{ :align => 'left' }
          %p
            = password_field_tag :pass, nil, :size => 40
      %tr
        %td
        %td
      
      %tr
        %td{ :align => 'left' }
          = 'Lost password.' #Must revisit when action is created
        %td{ :align => 'right' }
          = submit_tag 'Login ' 
