%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('main').addClassName('nosidebar');
  $('profile_menu_link').addClassName('selected');
  //]]>
= render 'user_data'

#person_box
  - if @user.person.present?
    #first=         'First Name: '  + @user.person.first_name
    #middle_name=   'Middle Name: ' + @user.person.middle_name
    #last_name=     'Last Name: '   + @user.person.last_name

    - if @user.person.gender.present?
      #gender
      Gender:
      - if @user.person.gender == 'male'
        = image_tag 'icons/user.png'
      - else
        = image_tag 'icons/user_female.png'
    - edit_message = 'Something is not right?'
  - else
    - edit_message = 'No data has been entered'

#edit_personal_data= edit_message + ' click ' + link_to('here', edit_profile_path) + ' to edit.'

