#login_form
  = form_for resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post } do |f|
    %fieldset
      = devise_error_messages!

      = f.label :email
      = f.text_field :email
      = f.submit t('devise.forms.reset_password')

.more_options
  = render :partial => "devise/shared/links"
