.splitcontentleft
  %label
    = t 'common.fields.keywords'
    %small= t 'dashboard.page.descriptions.keywords'
  %input#keyword_input{ :type => :text, :style => 'width: 250px; display: inline' }
  %button#keyword_button= t 'common.forms.add'
  %select{ :size => 5, :style => 'width: 350px; border: 1px solid gray;', :id => 'keywords' }
    - page_keywords.each do |keyword|
      %option=keyword

.splitcontentright{ :style => 'width: 47%' }
  #tips_container.box
    %h3= t 'common.headers.did_you_know'
    %p= t 'dashboard.page.tips.keywords.first'
    %p= t 'dashboard.page.tips.keywords.second'
