- session_key = Rails.application.config.session_options[:key]
:javascript
  $(function () {
    var uploadify_script_data = {};
    var csrf_token = $('meta[name=csrf-token]').attr('content');
    var csrf_param = $('meta[name=csrf-param]').attr('content');

    uploadify_script_data[csrf_param]       = encodeURI(encodeURIComponent(csrf_token));
    uploadify_script_data['#{session_key}'] = '#{cookies[session_key]}';
    uploadify_script_data.attachable_type   = '#{object.class}'
    uploadify_script_data.attachable_id     = '#{object.id}'

    $('#uploadify').uploadify({
      script          : '/dashboard/assets/',
      scriptData      : uploadify_script_data,
      uploader        : '/uploadify/uploadify.swf',
      cancelImg       : '/uploadify/cancel.png',
      fileExt         : '*.png;*.jpg;*.gif',
      auto            : true,
      onComplete      : function(a, b, c, response) {
        response = $.parseJSON(response);
        if (response.status == "success") {
          var img = document.createElement('img');
          img.src = response.thumbnail;
          $("#images_list").append(img);
          $(img).click(function(){
            image_operations({ element: this, title: '#{t 'links.add_item', :item => t('common.fields.image')}', text: '#{t 'common.headers.add_image', :item => t('common.fields.image')}' })
          });
        }
      },
      fileDesc        : '#{t('common.forms.file_description')}',
      sizeLimit       : #{19.megabytes}
    });
  });
</script>
