- session_key = Rails.application.config.session_options[:key]
:javascript
  $(function () {
    var uploadify_script_data = {};
    var csrf_token = $('meta[name=csrf-token]').attr('content');
    var csrf_param = $('meta[name=csrf-param]').attr('content');

    uploadify_script_data[csrf_param]       = encodeURI(encodeURIComponent(csrf_token));
    uploadify_script_data['#{session_key}'] = '#{cookies[session_key]}';
    uploadify_script_data.attachable_type   = '#{@page.class}'
    uploadify_script_data.attachable_id     = '#{@page.id}'
 
    $('#uploadify').uploadify({
      script          : '/assets/',
      scriptData      : uploadify_script_data,
      uploader        : '/uploadify/uploadify.swf',
      cancelImg       : '/uploadify/cancel.png',
      auto            : true,
      onComplete      : function(a, b, c, response){ 
        console.log(response);
        console.log(a);
        console.log(b);
      },
      fileDesc        : 'Photo or Document',
      sizeLimit       : #{19.megabytes}
    });  
  });
</script>