- content_for :nav_wrap do
  %ul#nav
    %li#sections_menu_link= link_to t('activerecord.models.section'), dashboard_sections_path
    %li#pages_menu_link=    link_to t('activerecord.models.page'),    dashboard_section_pages_path(1)
    %li#articles_menu_link= link_to t('activerecord.models.article'), dashboard_articles_path
  = render :partial => "layouts/manager/nav/#{controller_name}"

- content_for :head do
  = javascript_include_tag 'jquery-ui-1.8.5.custom.min', '/wymeditor/jquery.wymeditor.js', '/javascripts/boot_wym.js'
  = javascript_include_tag '/uploadify/swfobject.js', '/uploadify/uploadify.min.js'
  = stylesheet_link_tag 'manager','themes/smoothness/jquery-ui-1.8.6.custom.css', '/uploadify/uploadify.css'
  :javascript
    $(function() {
      $("##{params[:controller].split('/').last}_menu_link").addClass('active');
      #{yield :javascript}
    });

- content_for :title do
  = "CloverInteractive - #{controller_name} #{action_name}"

- content_for :module do
  / is module

- content_for :footer do
  = "CloverInteractive"

- content_for :top do
  #logo

= render :file => 'layouts/application'
