- form_for ( @section, :html => { :class => 'form' } ) do |f|
  = f.error_messages
  #section_container.splitcontentleft
    = f.label       :title
    = f.text_field  :title
    %br
    %br
    = f.label  :main_section_id, 'Seccion Principal'
    = f.select :main_section_id, @select_collection, { :include_blank => true }

    .spacer
    %br
    %button.submit Submit
