#section_pages
  %table.list
    %thead
      %tr
        %th
          Name
        %th
          Created at
        %th
          Last updated at
        %th
          Operations
    
    - oddity = 1
    - @pages.each do |page|
      %tr{ :class => ( oddity % 2 == 0 )? '' : 'odd' }
        - oddity = oddity + 1
        
        %td
          = link_to page.title, '/' + @section.name + '/' + page.name + '.html', :target => '_blank'
        %td
          = page.created_at.strftime("%B, %d %Y")
        %td
          = page.updated_at.strftime("%B, %d %Y")
        %td
          = link_to 'Edit',       edit_page_path(page)
          = link_to 'Destroy',    page, :confirm => 'Are you sure?', :method => :delete

= will_paginate @pages