%table.list
  %thead
    %tr
      %th Title
      %th Pages
      %th Subsection of
      %th Created at
      %th Last changed
      %th Operations

  - @sections.each do |section|
    %tr{ :class => cycle(:odd, :even) }

      %td= section.title

      %td
        - if section.pages.count >= 1
          = link_to 'View Pages', section_pages_path(section), :class => 'icon icon_bullet_page'
        - else
          = link_to 'New Page', new_section_page_path(section), :class => 'icon icon_bullet_add'

      %td
        -if section.main_section.present?
          = section.main_section.title


      %td= section.created_at.strftime("%B, %d %Y")
      %td= section.updated_at.strftime("%B, %d %Y")
      %td
        = link_to 'Edit', edit_section_path(section), :class => 'icon icon_bullet_pencil'
        = link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete, :class => 'icon icon_bullet_delete'

= will_paginate @sections

