%table.list
  %thead
    %tr
      - sort_headers_for :section, %w{name pages subsections created_at updated_at operations} do |header|
        - "Last Changed" if header == 'updated_at'

  - @sections.each do |section|
    %tr{ :class => cycle(:odd, :even) }

      %td= section.name

      %td
        - if section.pages.count >= 1
          = link_to 'View Pages', section_pages_path(section), :class => 'icon icon_bullet_page'
        - else
          = link_to 'New Page', new_section_page_path(section), :class => 'icon icon_bullet_add'

      %td
        - if section.subsections.count >= 1
          = link_to ' View Subsections', section_subsections_path(section), :class => 'icon icon_bullet_page'
        - else
          = link_to 'New Subsection', new_section_subsection_path(section), :class => 'icon icon_bullet_add'

      %td= section.created_at.strftime("%B, %d %Y")
      %td= section.updated_at.strftime("%B, %d %Y")
      %td
        = link_to 'Edit', edit_section_path(section), :class => 'icon icon_bullet_pencil'
        = link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete, :class => 'icon icon_bullet_delete'

= will_paginate @sections

