%h2 Listing sections

.splitcontentleft{ :style => 'width: 66%' }
  %p This is the sections page, here is the list of sections within your website, to watch the pages within each section, you only need to click the 'View Pages' link from the list in each section, and you will be redirected to that particular section pages page where you will be able to add more pages, edit them or delete them.
  %p You can edit a given section name just by clicking on the 'Edit' link in each subsection, or delete them by clicking the 'Destroy' link.
  
  #sections
    %table.list
      %thead
        %tr
          %th name
          %th pages
          %th main section
          %th created at
          %th updated at
          %th actions
      %tbody
        - @sections.each do |section|
          %tr{ :class => cycle(:odd, :even) }
            %td= section.name
            %td= link_to 'View Pages', section_pages_path(section), :class => 'icon icon_bullet_page'
            %td= section.main_section.name if section.main_section.present?
            %td= section.created_at.to_s(:long)
            %td= section.updated_at.to_s(:long)
            %td
              = link_to 'Edit', edit_section_path(section), :class => 'icon icon_bullet_pencil'
              = link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete, :class => 'icon icon_bullet_delete'

  = will_paginate @sections

.splitcontentright{ :style => 'width: 29%' }
  #tips_content.box
    %h3 Did you know?
    %p CloverInteractive's Clever CMS automatically creates friendly urls based on your section, subsection and page names.
    %p Apart from being user friendly, friendly urls allow you to improve your position in the most popular search engines result pages, and let you keep your pages clean and organized.
    
- content_for :sidebar do
  #operations_placeholder
    %h3 Section Operations
    = link_to 'Add a new section', new_section_path, :class => 'icon icon_add'