%h2
  = 'Section ' + @section.name
%h3
  = 'Section ' + @section.name + ' pages.'
= render 'pages'

%br

%h3
  = 'Section ' + @section.name + ' subsections.'
= render 'subsections'

#section_operations{ :style => 'display: none;' }
  %h3
    Section Operations
    
  = link_to 'Edit', edit_section_path(@section), :class => 'edit'
  %br
  = link_to 'Destroy',  @section, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
  %h3
    Page Operations
  = link_to 'Add Page',       new_section_page_path(@section), :class => 'add'
  %h3
    Subsection Operations
  = link_to 'Add Subsection', new_section_subsection_path(@section)
%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('sidebar').appendChild($('section_operations'));
  $('section_operations').toggle();
  //]]>