%h2= "Listing posts."

.splitcontentleft{ :style => 'width: 66%' }
  %p This is a list of the all the posts by user.

  #posts
    %table.list
      %thead
        %tr
          %th name
          %th created at
          %th updated at
          %th operations
      %tbody
        - @posts.each do |post|
          %tr{ :class => cycle(:odd, :even) }
            %td= link_to post.name, edit_articles_post_path(post)
            %td= post.created_at.to_s :long
            %td= post.updated_at.to_s :long
            %td
              = link_to 'Edit', edit_articles_post_path(post), :class => 'icon icon_bullet_pencil'
              = link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete, :class => 'icon icon_bullet_delete'
  = will_paginate @posts

.splitcontentright{ :style => 'width: 29%' }
  #tips_content.box
    %h3 Did you know?
    %p In this latest version of CloverInteractive's Clever CMS, many post creating, editing and displaying issues have been resolved, now you no longer need to think how to name posts as names are taken out of your post title. That way the post name that both the user and the Search Engine see is consistent with your content.
    
- content_for :sidebar do
  #operations_placeholder
    %h3 Post Operations
    = link_to 'Add a new post', new_articles_post_path, :class => 'icon icon_post_add'