%table.list
  %thead
    %tr
      - sort_headers_for :page, %w{title created_at updated_at operations} do |header|
        - "Last Changed" if header == 'updated_at'
  - @pages.each do |page|
    %tr{ :class => cycle(:odd, :even) }

      - if page.pageable.class == Section
        %td= link_to page.title, show_section_page_path(page.pageable.name, page.name), :target => :_blank
      - else
        %td= link_to page.title, show_subsection_page_path(page.pageable.section.name, page.pageable.name, page.name), :target => :_blank

      %td= page.created_at.strftime("%B, %d %Y")
      %td= page.updated_at.strftime("%B, %d %Y")
      %td
        %span.icon.icon_bullet_pencil= link_to 'Edit', edit_page_path(page)
        %span.icon.icon_bullet_delete= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete

= will_paginate @pages

