#section_pages
  %table.list
    %tr
      %thead
        %th
          Name
        %th
          Section
        %th
          Created at
        %th
          Last updated at
        %th
          Opetations

      - oddity = 1
      - @section_pages.each do |section_page|
        - page_url      = '/' + section_page.section.name + '/' + section_page.name + '.html'
        - page_title    =  section_page.title
        - section_name  = section_page.section.name

        %tr{ :class => (  oddity % 2 == 0 )? '' : 'odd' }
          - oddity = oddity + 1

          %td
            = link_to page_title, page_url, :target => :_blank
          %td
            = link_to section_name, section_path(section_page.section)
          %td
            = section_page.created_at.strftime("%B, %d %Y")
          %td
            = section_page.updated_at.strftime("%B, %d %Y")
          %td
            = link_to 'Edit', edit_page_path(section_page)
            = link_to 'Destroy', section_page, :confirm => 'Are you sure?', :method => :delete

  = will_paginate @section_pages

