#subsection_pages
  %table
    %tr
      %td
        Name
      %td
        Subsection
      %td
        Operations

      - @subsection_pages.each do |subsection_page|
        %tr
          %td
            = subsection_page.title
          %td
            = link_to subsection_page.subsection.name, subsection_path(subsection_page.subsection)
          %td
            = link_to 'Show', '/' + subsection_page.subsection.section.name + '/' + subsection_page.subsection.name + '/' + subsection_page.name + '.html', :target => :_blank
            = link_to 'Edit', edit_page_path(subsection_page)
            = link_to 'Destroy', subsection_page, :confirm => 'Are you sure?', :method => :delete

  = will_paginate @subsection_pages

