%script{ :type => 'text/javascript'}
  //<![[CDADA
  function init()
  {
  var table = document.getElementsByTagName('table');
  table[0].style.width = '70%';
  }
  window.onload     = init;
  var page_boxes    =  new Array('seo_box', 'keywords');
  //]]>

%h2 Edit Page

- form_for( @page, :url => { :action => :update }, :html => { :multipart => true, :class => 'tabular' } ) do |f|
  = f.error_messages

  #edit_page_container.box
    %p
      = f.label :title
      %span.required *
      = f.text_field :title
    %hr
    %p
      = f.label :body
      %span.required *
      = f.text_area :body, :class => 'mceEditor'

    #additional_options.list
      %p
        %label= link_to 'SEO Meta Tags', '#seo_box', :onclick => "TogglePageBoxes('seo_box')"
      #seo_box{ :style => 'display: none;', :name => 'seo_box' }
        = render :partial => 'meta_tags/all_meta_tags', :locals => { :metas => @metas, :page => @page }

      %p
        %label= link_to 'SEO keywords', '#keywords', :onclick => "TogglePageBoxes('keywords')"
      #keywords{ :style => 'display: none;', :name => 'keywords' }
        = render :partial => 'page_keywords', :locals => { :f => f }
    %p
      = f.label :has_contact
      = f.check_box :has_contact
    %br
  = f.submit 'Update'

%script{ :type => 'text/javascript' }
  = remote_function :update => 'sidebar', :url => "/uploads/get_uploads/#{@page.id}"

