= include_tiny_mce_if_needed


%h3
  Editing pages

- form_for( @page, :url => { :action => :update }, :html => { :multipart => true } ) do |f|
  = f.error_messages
  = f.hidden_field :id


  %p
    = f.label :name
  %p
    = f.text_field :name
  %p
    = f.label :title
  %p
    = f.text_field :title
  %p
    = f.label :body
  %p
    = f.text_area :body, :class => 'mceEditor'

  = link_to 'Etiquetas para SEO', '#seo_box', :onclick => "$('seo_box').toggle();$('keywords').hide();"
  #seo_box{ :style => 'display: none;', :name => 'seo_box' }
    = render :partial => 'meta_tags/all_meta_tags', :locals => { :metas => @metas, :page => @page }

  %br

  = link_to 'Palabras claves para SEO', '#keywords', :onclick => "$('keywords').toggle();$('seo_box').hide();"
  #keywords{ :style => 'display: none;', :name => 'keywords' }
    = render :partial => 'page_keywords', :locals => { :f => f }

  %p
    = f.submit 'Update'

%script{ :type => 'text/javascript' }
  = remote_function :update => 'page_pictures', :url => "/uploads/get_photos/#{@page.id}"

