%h3
  Editing pages
  
- remote_form_for( @page ) do |f|
  = f.error_messages
  = f.hidden_field :id
  
  %p
    = f.label :title
  %p
    = f.text_field :title
  %p
    = f.label :body
  %p
    = f.text_area :body
  %p
    = submit_to_remote 'update_btn', 'Update', :url => { :action => 'update'}, :update  =>  { :success => 'rendered_items', :failure => 'rendered_items' }
