= javascript_include_tag 'galleria/galleria.js', 'galleria/themes/classic/galleria.classic.js'
= javascript_include_tag 'galleriffic/jquery.galleriffic.js', 'galleriffic/jquery.opacityrollover.js'
  
%h2 Edit Page
#tabs
  %ul
    %li= link_to 'Edit page',       '#tabs-1'
    %li= link_to 'Page images',     '#tabs-2'
    %li= link_to 'Page documents',  '#tabs-3'
  #tabs-1
    = render 'form'
    .spacer
  #tabs-2
    #gallery.splitcontentleft{ :style => 'width: 60%' }
      - @page.photos.each do |photo|
        = link_to image_tag( photo.upload_url(:squared), :alt => photo.description ), photo.upload_url(:medium)
    #tips_content.splitcontentright.box{ :style => 'margin: 25px;width: 29%;' }
      %h3 Adding images to your page
      %p CloverCMS allows you to easily add pictures to your pages.
      %p Simply double click any thumbnail picture and a dialog window will appear to allow you to add the pictures you uploaded into your page body.
    .spacer
  #tabs-3
    #documents.splitcontentleft{ :style => 'width: 60%' }
      %ul
        -@page.documents.each do |document|
          %li= link_to document.description, document.upload_url
    #tips_content.splitcontentright.box{ :style => 'margin: 25px; width:29%;' }
      %h3 Adding documents to your page
      %p CloverCMS allows you to easily add documents to your page.
      %p Simply click the document name and a dialog window will appear to allow you to add a download linkt to documents you uploaded into your page body.
    .spacer

%script{ :type => 'text/javascript'}  
  $(document).ready(function(){
  $('#gallery').galleria( { height: '300px', imagecrop: true, transition: 'fade', max_scale_ratio: 1, popup_links: true });
  $('#main').addClass('nosidebar');
  $('#tabs').tabs();
  $('#accordion').accordion({ clearStyle: true, header: 'h6', collapsible: true, active: 4 });
  $('#tag_list').css('width', '170px');
  $("#page_has_contact").button( { icons: { primary: 'ui-icon-mail-closed' } } );  
  add_keywords();
  add_images();
  add_documents();
  existing_keywords();
  submit_button();
  });
