- place   = @pages.first.section
- place ||= @pages.first.subsection

%h2= 'Site Pages of ' + place.name

#page_content.splitcontentleft{ :style => 'width: 66%;' }
  %p To keep everything in place and organized, CloverInteractive's Clever CMS does not allow orphan pages, by orphan pages we mean pages that are not assigned to an specific section or subsection. Orphan pages make your site look messy and disorganized.

  #pages
    = render :partial => 'pages'
  #spinner
  
#tips_content.box.splitcontentright{ :style => 'width: 29%;' }
  %h3 Did you know?
  %p In this latest version of CloverInteractive's Clever CMS, many page creating, editing and displaying issues have been resolved, now you no longer need to think how to name pages as names are taken out of your page title. That way the page name both the user and the Search Engine see is consistent with your content.

#operations_placeholder{ :style => 'display: none;' }
  - section     = @pages.first.section    if !@pages.first.section.nil?
  - subsection  = @pages.first.subsection if !@pages.first.subsection.nil?
  
  %h3 Operations
  - if !section.nil?
    = link_to 'Add a new Page', new_section_page_path(section) 
  - else
    = link_to 'Add a new Page', new_subsection_page_path(subsection)
    %br
    = link_to 'Back to Subsections', section_subsections_path(subsection.section)
  %br
  = link_to 'Back to Sections', sections_path()
  
%script{ :type => 'text/javascript' }
  //<![[CDATA
  $('sidebar').appendChild($('operations_placeholder'));
  $('operations_placeholder').toggle();
  //]>

