%script{ :type => 'text/javascript' }
  //<![[CDATA
  function init()
  {
  $('main').addClassName('nosidebar');
  $('new_page_menu_link').addClassName('selected');
  var table = document.getElementsByTagName('table');
  table[0].style.width = '100%';
  }
  window.onload = init;
  var page_boxes =  new Array('seo_box', 'keywords', 'photos', 'add_another_photo_link', 'documents', 'add_another_document_link');
  //]]>

%h2
  New Page

- form_for([@pageable, @page], :html => { :multipart => :true, :class => 'tabular' }) do |f|
  = f.error_messages

  #new_page_form.box
    %p
      = f.label :title
      %span.required *
      = f.text_field :title
    %hr

    #page_body_div.splitcontentleft
      %p
        = f.label :body
        %span.required *
        = f.text_area :body, :class => 'mceEditor'

    #additional_options.list.splitcontentright
      %p
        %label= link_to 'SEO Meta Tags', '#seo_box', :onclick => "TogglePageBoxes('seo_box');"
      #seo_box{ :style => 'display: none;', :name => 'seo_box' }
        = render :partial => 'meta_tags/all_meta_tags', :locals => { :metas => @metas, :page => @page }

      %p
        %label= link_to 'SEO keywords', '#keywords', :onclick => "TogglePageBoxes('keywords');"
      #keywords{ :style => 'display: none;', :name => 'keywords' }
        = render :partial => 'page_keywords', :locals => { :f => f }
      
      %p
        %label= link_to 'Upload Photos', '#upload_photo', :onclick => "TogglePageBoxes(['photos', 'add_another_photo_link']);"
      #photos{ :style => 'margin-left: -20px; display:none;', :name => 'upload_photo' }
        - f.fields_for :photos do |photo|
          = render 'photo_fields', :f => photo
          
      #add_another_photo_link{:style => 'display: none;'}
        = link_to_add_fields 'Add another photo', f, :photos
        
      %p
        %label= link_to 'Upload Documents', '#upload_document', :onclick => "TogglePageBoxes(['documents', 'add_another_document_link']);"
      #documents{ :style => 'margin-left: -20px;display:none;', :name => 'upload_document' }
        - f.fields_for :documents do |document|
          = render 'document_fields', :f => document
          
      #add_another_document_link{:style => 'display: none;'}
        = link_to_add_fields 'Add another document.', f, :documents
        
    %p
      = f.label :has_contact
      = f.check_box :has_contact

    %p
    %p
  = f.submit 'Create Page'

