<h1>New pages</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :id %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pages_path %>