%table{ :style => 'border: 1px solid grey;', :cellspacing => 0, :cellpadding => 5 }
  %tr{ :style => 'color: #FFFFFF; background-color: #333333; text-align: center;' }
    %th
      Meta Content
    %th
      Actions

  - for metatag in @metatags
    %tr
      %td
        - if metatag.content.length > 15
          = metatag.content[0..15] + '...'
        - else
          = metatag.content
        %td
          = link_to_remote 'Show',  :url => meta_tag_path(metatag), :update => :rendered_action, :after => "$('rendered_action').show();"
          = link_to_remote 'Edit',  :url => "/meta_tags/#{metatag.id}/edit", :update => :rendered_action, :after => "$('rendered_action').show();"
          = link_to 'Destroy', "/meta_tags/#{metatag.id}/destroy", :confirm => 'Deleting a Meta Content will make it unavailable in the whole site. Are you sure?'

%br
%br
= link_to_remote 'New Meta Tag', :url => "/meta_tags/new", :update => :rendered_action, :after => "$('rendered_action').show();"

%br
%br


%br

#metatags_used_in
  %table{ :style => 'border: 1px solid grey;', :cellspacing => 0, :cellpadding => 5 }
    %tr{ :style => 'color: #FFFFFF; background-color: #333333; text-align: center;' }
      %th
        Meta Content
      %th
        Pages used at

    - @metatags.each do |meta|
      %tr
        %td
          - if meta.content.length > 15
            = meta.content[0..15] + ' ...'
          - else
            = meta.content
        %td
          - meta.pages_meta_title.each do |page|
            = 'Meta title of: ' + page.title
            %br
          - meta.pages_meta_description.each do |page|
            = 'Meta description of: ' + page.title
            %br

%br

= will_paginate @metatags

