%h2= t 'common.headers.item_list',  :item => t('activerecord.models.user')
%p.info
  %span.bold= t('messages.information') + ':'
  = t '.tip'

%table.tabular
  %thead
    %tr
      %th= t 'activerecord.attributes.user.username'
      %th= t 'activerecord.attributes.user.email'
      %th= t 'activerecord.attributes.user.confirmed_at'
      %th= t 'activerecord.attributes.user.last_sign_in_at'
      %th= t 'common.messages.options'
    %tbody
      = render :partial => 'user', :collection => @users
= will_paginate @users
