<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  
  <body>  
    <h1>Mensaje de la forma de contacto de, <%=h @contact_form.name %></h1>  
    <p>
      Nombre:   <%= h @contact_form.name %> <br />
      Telefono: <%= h @contact_form.phone %> <br />
      Asunto:   <%= h @contact_form.subject %> <br />
    </p>  
    <p>
      Mensaje: <br />
      <%= h @contact_form.message %>
    </p>
  </body> 
</html>