#login_form
  = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
    %fieldset
      = f.label :username
      = f.text_field :username
      = f.label :password
      = f.password_field :password

      - if devise_mapping.rememberable?
        #remember_me
          = f.check_box :remember_me
          = f.label     :remember_me
      = f.submit t('devise.forms.sign_in')

.more_options
  = render :partial => "devise/shared/links"
