%a{:href =>"/"}
  %h1#logo CloverInteractive
#login_form
  = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
    %fieldset
      %legend Sign in
      = f.label :username
      = f.text_field :username
      = f.label :password
      = f.password_field :password

      - if devise_mapping.rememberable?
        = f.label :remember_me
        = f.check_box :remember_me
      = f.submit "Sign in"
.content
  = render :partial => "devise/shared/links"