.container
  .slides
    .first_slide
      = image_tag "themes/clover/content/preview.jpg"
      .preview_intro
        = link_to image_tag("themes/clover/view_project_btn.jpg"), "http://www.artificialonline.com", :target => "_blank", :class => "view_project"
        %p Clover Interactive hospedaje web!
        %p Hospedaje y administración de sistemas
    .second_slide
      = image_tag "themes/clover/content/preview2.jpg"
      .preview_intro
        = link_to image_tag("themes/clover/view_project_btn.jpg"), "http://www.aloboutique.com", :target => "_blank", :class => "view_project"
        %p Clover Interactive desarrollo web!
        %p XHTML + CSS + Ruby, PHP + MySQL
    .third_slide
      = image_tag "themes/clover/content/preview3.jpg"
      .preview_intro
        = link_to image_tag("themes/clover/view_project_btn.jpg"), "http://www.tjruby.org", :target => "_blank", :class => "view_project"
        %p Clover Interactive activo!
        %p Comprometidos con la comunidad.

