#top
  #website_name
    %h1 CloverInteractive
  #navigation
    %ul#nav
      %li#hola.hola=            link_to 'Hola', '/'
      %li#conoce.conoce=        link_to 'Conoce', '#'
      %li#crece.crece=          link_to 'Crece', '#'
      %li#contacto.contacto=    link_to 'Contacto', '#'
      %li#live_chat.live_chat=  link_to 'live chat', '#'
.hline1
