= form_for [:dashboard, page_editor.section, page_editor ], :validate => true  do |f|
  - if page_editor.errors.any?
    = render :partial => 'shared/error_explanation', :object => page_editor

  #page_content
    = f.hidden_field :keywords, :id => :final_keywords_list
    %label{ :for => :page_name }
      = t 'common.fields.name'
      %small= t 'common.descriptions.url.item_name', :item => t('activerecord.models.page').downcase
    = f.text_field  :name
    = f.text_area :content, :class => 'wymeditor'

    %label{ :for => :page_section_id }
      = t 'activerecord.attributes.page.section'
      %small= t 'dashboard.page.descriptions.section'
    = f.select  :section_id, all_sections_collection

    .buttonset
      = f.label     :home_page
      = f.check_box :home_page,   :class => :home_page
      = f.label     :has_contact
      = f.check_box :has_contact, :class => :contact_form
      = f.label     :published
      = f.check_box :published,   :class => :published

    %button.wymupdate= t 'common.forms.submit'

:javascript
  $(document).ready(function() {
    $('#tabs').tabs();
    $('.wymupdate').button({ icons: { primary: "ui-icon-circle-check" } });
    $('.buttonset').buttonset();
    $('.home_page').button({ icons: { primary: "ui-icon-home" } });
    $('.contact_form').button({ icons: { primary: "ui-icon-mail-closed" } });
    $('.published').button({ icons: { primary: "ui-icon-check" } });
    $('#keyword_button').button({ icons: { primary: "ui-icon-circle-plus" } });
    add_keywords();
    existing_keywords();
  });
