%h2= t 'links.new_item', :item => t('activerecord.models.page')
#tabs
  %ul
    %li= link_to t('links.item_details', :item => t('activerecord.models.page')), '#tabs-1'
    %li= link_to t('links.item_keywords', :item => t('activerecord.models.page')), '#tabs-2'
  #tabs-1
    = render :partial => 'page_editor', :object => @page
  #tabs-2
    = render :partial => 'shared/keywords', :locals => { :resource_keywords => @page.keywords.map(&:name) }
    .spacer
