%br
- form_for @contact_form, :html => { :class => 'forms' } do |f|
  = f.error_messages
  - message_box = "Queremos asistirte de la mejor manera; describenos un poco acerca de...\n\n1. El giro de tu empresa: ¿es Personal, PyME, Gobierno, ONG?\n2. Tu idea, propuesta o proyecto en mente\n3. La manera en que podemos apoyarte\n4. El presupuesto asignado a tu proyecto\n5. La fecha limite de entrega\n6. El horario en que podriamos llamarte\n7. Cualquier comentario adicional\n\nSi ya tienes un sitio web en linea o alguna idea de como quieres que luzca tu proyecto; dejanos saber la(s) referencia(s): http://www...?? \n"
  
  .row= f.text_field :name, :class => :shadowed, :value => "¡Hola! ¿con quién tenemos el gusto? Escribe aquí tu nombre",      :style => "width:90%"
  .row= f.text_field :email,    :class => :shadowed, :value => "Dinos, ¿a qué email te respondemos? Escribe aquí tu email",   :style => "width:90%;"
  .row= f.text_field :phone,    :class => :shadowed, :value => "Dinos, ¿a qué numero te llamamos? Escribe aquí tu teléfono",  :style => "width:90%;"
  .row= f.text_field :subject,  :class => :shadowed, :value => "¿Algún tema en específico? Escribe aquí el tema",             :style => "width:90%;"

  .row= f.label :message, "¡Cuentanos a detalle! ¿cómo podemos ayudarte?"
  .row= f.text_area :message, :class => 'textarea', :rows => 15, :value => message_box, :style => "width:90%;"
  
  .row= recaptcha_tags :display => { :theme => :clean, :tabindex => 0 }, :ssl => true
  .row= f.submit '¡Listo!', :class => :input_submit
  
  = hidden_field_tag "return_page", show_section_page_path( :section_name => current_section.name, :page_name => current_page.name )
  .spacer
  
  
  /
    This shall remain commented until we decide which contact form style we will use
    .row
      = f.label :email, "Email", :class => "label"
      %span.formw= f.text_field :email, :class => :shadowed
    .row
      = f.label :name, "Nombre", :class => "label"
      %span.formw= f.text_field :name, :class => :shadowed
    .row
      = f.label :phone, "Telefono", :class => "label"
      %span.formw= f.text_field :phone, :class => :shadowed
    .row
      = f.label :subject, "Asunto", :class => "label"
      %span.formw= f.text_field :subject, :class => :shadowed
    .row
      = f.label :message, "Mensaje", :class => "label"
      %span.formw= f.text_area :message, :class => 'textarea', :rows => 8
    .row
      %span.formw= recaptcha_tags :display => { :theme => :clean, :tabindex => 0 }, :ssl => true
    .row
      %span.formw= f.submit 'Enviar Correo', :class => :input_submit
    = hidden_field_tag "return_page", show_section_page_path( :section_name => current_section.name, :page_name => current_page.name )
    .spacer

