%fieldset
  = form_for @contact_form, :validate => true do |contact|
    = contact.label :recipient
    = contact.text_field :recipient

    = contact.label :subject
    = contact.text_field :subject

    = contact.label :body
    = contact.text_area :body

    = contact.submit :submit
