#image_container
  - if @uploads.count >= 1
    %fieldset{ :style => 'width:209px; border: 1px solid #DDDDDD;' }
      %legend
        Photos
      %ul
        - for upload in @uploads

          %li.thumbnail_button= link_to image_tag( 'icons/picture_delete.png', :class => 'delete_photo', :title => 'Delete photo: ' + upload.description ), "/uploads/#{upload.id}/destroy", :confirm => 'Deleting an image will make it unavailable for the rest of your site. Are you sure?'

          %li.thumbnail= image_tag upload.photo_url(:small), :onclick => "imageAdd(this, 'page_body_ifr' );"

  %fieldset{ :style => 'width:209px; border: 1px solid #DDDDDD;' }
    %legend Upload new Photo

    - form_for (Upload.new, :url => { :controller => :uploads, :action => :create }, :html => { :multipart => true, :target => :uploadPhoto  } ) do |u|
      %iframe{ :name => 'uploadPhoto', :style => 'display: none;width 0px;'}

      = u.hidden_field :page_id, :value => @page.id
      
      Name
      = u.text_field :description, :size => 10, :style => 'margin: 5px;'
      %br
      Photo
      = u.file_field :photo, :size => 10, :style => 'margin: 5px;'
      %br
      = u.submit  'Upload', :style => 'margin: 5px;'