#uploads_container
  - if @photos.count >= 1
    %fieldset{ :style => 'width:209px; border: 1px solid #DDDDDD;' }
      %legend
        Photos
      %ul
        - @photos.each do |photo|

          %li.thumbnail_button= link_to image_tag( 'icons/picture_delete.png', :class => 'delete_photo', :title => 'Delete photo: ' + photo.description ), "/uploads/#{photo.id}/destroy", :confirm => 'Deleting an image will make it unavailable for the rest of your site. Are you sure?', :target => :uploadPhoto

          %li.thumbnail= image_tag photo.upload_url(:small), :onclick => "imageAdd(this, 'page_body_ifr' );"

  - if @documents.count >= 1
    %fieldset{ :style => 'width:209px; border: 1px solid #DDDDDD;' }
      %legend
        Documents
      %ul
        - @documents.each do |document|
          %li{ :style => 'list-style-type: none; cursor: pointer;' }
            %span{ :onclick => "documentAdd('document#{document.id.to_s}', 'page_body_ifr');", :class => 'icon ' + File.extname(document.upload_url).gsub( '.', '' ).downcase }
              = document.description
            = link_to document.description, document.upload_url, :id => "document#{document.id.to_s}", :style => 'display:none;'

  %fieldset{ :style => 'width:209px; border: 1px solid #DDDDDD;' }
    %legend Upload new photo or document

    - form_for (Upload.new, :url => { :controller => :uploads, :action => :create }, :html => { :multipart => true, :target => :uploadPhoto  } ) do |u|
      %iframe{ :name => 'uploadPhoto', :style => 'display: none;width 0px;'}

      = hidden_field_tag :page_id, @page.id
      
      Name
      = u.text_field :description, :size => 10, :style => 'margin: 5px;'
      %br
      Photo
      = u.file_field :upload, :size => 10, :style => 'margin: 5px;'
      %br
      = u.submit  'Upload', :style => 'margin: 5px;'