<h1>Editing upload</h1>
 
<% form_for(@upload) do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
 
  <!-- CROP FORM -->
  <div id='cropwrap'>
    <%= image_tag @upload.photo_url(:original), :id => 'cropimage' %>
  </div>
 
  <div id='cropresults'>
    <%= f.label 'x1' %>
    <%= f.text_field 'x1', :size => 6, :readonly => 'readonly' %>
    <br />
    <%= f.label 'y1' %>
    <%= f.text_field 'y1', :size => 6, :readonly => 'readonly' %>
    <br />
    <%= f.label 'width' %>
    <%= f.text_field 'width', :size => 6, :readonly => 'readonly' %>
    <br />
    <%= f.label 'height' %>
    <%= f.text_field 'height', :size => 6, :readonly => 'readonly' %>
    <br />
  </div> <!-- cropresults -->
  <!-- END CROP FORM -->
 
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<script type="text/javascript" language="JavaScript">
function onEndCrop( coords, dimensions ) {
  $( 'upload_x1' ).value = coords.x1;
  $( 'upload_y1' ).value = coords.y1;
  $( 'upload_width' ).value   = dimensions.width;
  $( 'upload_height' ).value  = dimensions.height;
}
 
Event.observe( window, 'load', function() {
  new Cropper.Img('cropimage', {
    minWidth: 50,
    minHeight: 50,
    displayOnInit: true,
    onEndCrop: onEndCrop
  } );
} );
</script>