#image_container
  - if @uploads.count >= 1
    %fieldset{ :style => 'width: 100%;' }
      %legend
        Photos
      %ul
        - for upload in @uploads

          %li.thumbnail_button
            = link_to image_tag( 'icons/picture_delete.png', :class => 'delete_photo', :title => 'Delete photo: ' + upload.description ), "/uploads/#{upload.id}/destroy", :confirm => 'Deleting an image will make it unavailable for the rest of your site. Are you sure?'

          %li.thumbnail_button
            = image_tag 'icons/picture_add.png', :class => 'delete_photo', :title => 'Add photo to page: ' + upload.description, :onclick => "imageAdd('image_" + upload.id.to_s + "', 'page_body_ifr' );"

          %li.thumbnail
            = image_tag upload.photo_url(:small), :id => 'image_' + upload.id.to_s

  %fieldset{ :style => 'width: 100%' }
    %legend
      Upload new Photo

    - form_for ( Upload.new, :url => { :controller => :uploads, :action => :create }, :html => { :multipart => true } ) do |f|
      = f.hidden_field :page_id, :value => @page.id

      = f.label 'Name'
      = f.text_field :description, :size => 10, :style => 'margin: 5px;'
      %br
      = f.label 'Photo'
      = f.file_field :photo, :size => 10, :style => 'margin: 5px;'
      %br
      = f.submit  'Upload', :style => 'margin: 5px;'

#temp_element_parent{ :style => 'display: none;'}

