#imid
  #column
    %h2.sb_header= "Acerca del autor "
    .sidebar
      %p.center.separate= image_tag @article.user.gravatar_url, :alt => @article.user.username, :class => "profile_pic"
      %p
        %strong= "Nombre:"
        =h @article.user.full_name
      %p
        %strong= "Biografía:"
        = minimize_text h( @article.user.bio ), 50
      %p
        %strong= "Gustos:"
        = minimize_text h( @article.user.likes ), 50
    .sidebar_bottom
  #content= yield