#banner
  - if current_page.present? && current_page.main_page
    #intro
      %h1
        Somos una compañía de desarrollo de software, especializada en soluciones de software a la medida, telefonia IP, diseño web y administración de sistemas.
    #slider
      #slider_left= link_to image_tag("website_images/scroll_left.gif", :alt => "Scroll left"), "#", :class => "previous"
      = render 'layouts/website/slides'
      #slider_right= link_to image_tag("website_images/scroll_right.gif", :alt => "Scroll right"), "#", :class => "next"
  - else
    - if current_page.present?
      %h1= current_page.pageable.title
      %h2= current_page.title
    - else
      %h1 Page not found
      %h2 You have tried to reach a page that does not exist.