.container
  .slides
    .first_slide
      = image_tag "website_images/content/preview.jpg", :alt => ""
      .preview_intro
        = link_to image_tag("website_images/view_project_btn.jpg", :alt => ""), "http://www.artificialonline.com", :target => "_blank", :class => "view_project"
        %p Clover Interactive hopedaje web!
        %p Hospedaje y administración de sistemas
    .second_slide
      = image_tag "website_images/content/preview2.jpg", :alt => ""
      .preview_intro
        = link_to image_tag("website_images/view_project_btn.jpg", :alt => ""), "http://www.artificialonline.com", :target => "_blank", :class => "view_project"
        %p Clover Interactive desarrollo web!
        %p XHTML + CSS + Ruby, PHP + MySQL 
    .third_slide
      = image_tag "website_images/content/preview3.jpg", :alt => ""
      .preview_intro
        = link_to image_tag("website_images/view_project_btn.jpg", :alt => ""), "http://www.artificialonline.com", :target => "_blank", :class => "view_project"
        %p Clover Interactive activo!
        %p Comprometidos con la comunidad.