#header
  #logo
    %h1 TJRuby
#navigation
  %ul
    %li= link_to  'Inicio', '/inicio/tjruby-comunidad-de-desarrollo-en-tijuana-de-ruby.html', :class => ( @section.present? && @section.title  == 'Inicio' ) ? 'current' : ''
                  
    %li= link_to 'Miembros',  '/miembros/un-lugar-para-todos.html', :class => ( @section.present? && @section.title  == 'Miembros' )   ? 'current' : ''
                  
    %li= link_to 'Proyectos', '/proyectos/comparte-ideas-y-hazlas-realidad.html', :class => ( @section.present? && @section.title  == 'Proyectos' )  ? 'current' : ''
    %li= link_to 'Podcast', '/podcast/por-que-todos-aprendemos-de-distintas-maneras.html', :class => ( @section.present? && @section.title  == 'Podcast' )    ? 'current' : ''

    %li= link_to 'Articulos', '/articles/list/all', :class => ( current_action  =~ /article/ )      ? 'current' : ''
    %li= link_to 'Contacto', '/contacto/deseas-participar-envianos-una-sugerencia.html',   :class => ( @section.present? && @section.title  == 'Contacto' )   ? 'current' : ''