= form_for [ :dashboard, page_section ], :validate => true do |f|
  - if page_section.errors.any?
    = render :partial => 'shared/error_explanation', :object => page_section

  .columns
    .half
      %label{ :for => :section_name }
        = t 'activerecord.models.section'
        %small= t 'dashboard.sections.descriptions.name'
      = f.text_field  :name

      %label{ :for => :main_section_id }
        = t 'activerecord.attributes.section.main_section'
        %small= t 'dashboard.sections.descriptions.main_section'
      = f.select :main_section_id, main_sections_collection(page_section.name), :include_blank => true

      %button#submit= t 'common.forms.submit'

    .half
      #tips_content.box
        %h3= t 'common.headers.did_you_know'
        %p= t 'dashboard.sections.index.tip'

:javascript
  $(document).ready(function() {
    $('#submit').button({ icons: { primary: 'ui-icon-circle-check' } });
    $('#sections_menu_link').addClass('active');
  });
