%tr{ :class => cycle(:odd, :even) }
  %td= section.name
  %td= link_to t('links.view_item', :item => t('activerecord.models.page').pluralize), dashboard_section_pages_path(section)
  %td= section.main_section.name if section.main_section.present?
  %td= l section.created_at, :format => :short
  %td= l section.updated_at, :format => :short
  %td
    = link_to t('links.edit'), edit_dashboard_section_path(section), :class => 'icon edit'
    = link_to t('links.destroy'), dashboard_section_path(section), :confirm => t('common.messages.are_you_sure'), :method => :delete, :class => 'icon delete'

