%h2= t 'common.headers.item_list', :item => t('activerecord.models.section')
%p.info
  %span.bold= t('messages.information') + ':'
  = t '.information'

%table.tabular{ :cellpading => 0, :cellspacing => 0 }
  %thead
    %tr
      %th= t 'activerecord.attributes.section.name'
      %th= t 'activerecord.attributes.section.pages'
      %th= t 'activerecord.attributes.section.main_section'
      %th= t 'common.fields.created_at'
      %th= t 'common.fields.updated_at'
      %th= t 'common.messages.options'
  %tbody= render :partial => 'section', :collection => @sections
= paginate @sections
