%ul
  - if user_signed_in?
    %li= link_to 'Profile',        profile_path,         :id => 'profile_menu_link'
    - if current_user.admin?
      %li= link_to 'New Section',    new_section_path,     :id => "new_section_menu_link"
      %li= link_to 'New Page',       new_page_path,        :id => "new_page_menu_link"
    - if current_user.admin? || current_user.roles.find_by_name( 'post_editor' )
      %li= link_to 'New Post',    new_article_path(:is_post   => true), :id => "new_post_menu_link"
      %li= link_to 'New News',    new_article_path(:is_news   => true), :id => "new_news_menu_link"
      %li= link_to 'New Review',  new_article_path(:is_review => true), :id => "new_review_menu_link"

