!!!5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'CloverInteractive'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery.min', 'rails', 'application', 'rails.validations'
    = yield :head
    = csrf_meta_tag

  %body
    #wrapper
      #top=yield :top
      - if content_for? :nav_wrap
        #nav_wrap= yield :nav_wrap
      #content_wrap
        #content
          = render :partial => 'layouts/application/flashes'
          - if content_for? :module
            .module
              %h2.title= yield :module_title
              .module_body= yield
          - else
            = yield

      - if content_for? :footer
        #footer_wrap
          #footer= yield :footer
