!!!
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    = stylesheet_link_tag "manager", "jquery-ui.css"

    %title CloverInteractive's Clever CMS Manager
  %body
    = render_flash_messages
    #wrapper
      #top-menu
        #account= render :partial => 'layouts/account_menu'
        %ul
          - if user_signed_in? && current_user.admin?
            %li= link_to 'Sections', '/sections'
            %li= link_to 'Articles', '/articles'
            %li= link_to 'SEO', '/meta_tags'

      #header
        = image_tag '/images/logo.png'
        #main-menu= render :partial => 'layouts/main_menu'

      #main
        #sidebar
        #content
          = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
          = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js'
          = javascript_include_tag 'application'
          = include_tiny_mce_if_needed
          = yield
          = yield :jstemplates
      %script{ :type => 'text/javascript' }
        $(document).ready(function(){
        $("#flashError").delay(3000).fadeOut(1000);
        $("#flashSucces").delay(3000).fadeOut(1000);
        $("#flashNotice").delay(3000).fadeOut(1000);
        $("#flashAlert").delay(3000).fadeOut(1000);
        });