!!!5
%html.login
  %head
    %title= yield :title
    = stylesheet_link_tag 'website_css/main'

    - if Rails.env.production?
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" 
      = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"
    - else
      = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.5.custom.min'

    = javascript_include_tag "/wymeditor/jquery.wymeditor.js"
    = javascript_include_tag "/javascripts/boot_wym.js"

    = csrf_meta_tag
  %body
    #wrapper
      %p.notice= notice
      %p.alert= alert
      = yield
