!!!5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'CloverInteractive'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery.min', 'rails', 'application'
    = yield :head
    = csrf_meta_tag

  %body
    #wrapper
      #top=yield :top
      - if content_for? :nav_wrap
        #nav_wrap= yield :nav_wrap
      #content_wrap
        #content
          #flash
            = content_tag :div, flash[:info],    :class => "information"  if flash[:info]
            = content_tag :div, flash[:warning], :class => "warning"      if flash[:warning]
            = content_tag :div, flash[:error],   :class => "error"        if flash[:error]
            = content_tag :div, flash[:alert],   :class => "error"        if flash[:alert]
            = content_tag :div, flash[:success], :class => "success"      if flash[:success]

          - if content_for? :module
            .module
              %h2.title= yield :module_title
              .module_body= yield
          - else
            = yield

      - if content_for? :footer
        #footer_wrap
          #footer= yield :footer
