- selected_tab = (controller_name == 'registrations') ? 'users' : controller_name
- content_for :nav_wrap do
  %ul#nav
    %li#sections_menu_link=       link_to t('activerecord.models.section'),     dashboard_sections_path
    %li#pages_menu_link=          link_to t('activerecord.models.page'),        dashboard_section_pages_path(1)
    %li#users_menu_link=          link_to t('activerecord.models.user'),        dashboard_users_path
    %li#settings_menu_link=       link_to t('activerecord.models.setting'),     dashboard_settings_path
  - if content_for? :sub_nav
    = yield :sub_nav
  - else
    = render :partial => "layouts/dashboard/nav/#{controller_name}"

- content_for :head do
  = javascript_include_tag  'jquery-ui.min', 'wymeditor/jquery.wymeditor.min', 'boot_wym', 'uploadify/swfobject', 'uploadify/uploadify.min'
  = stylesheet_link_tag     'themes/smoothness/jquery-ui-1.8.6.custom', 'uploadify/uploadify', 'dashboard'
  :javascript
    $(function() {
      $("##{selected_tab}_menu_link").addClass('active');
      #{yield :javascript}
    });

- content_for :title do
  = "CloverInteractive - #{controller_name} #{action_name}"

- content_for :module do
  / is module

- content_for :footer do
  = "CloverInteractive"

- content_for :module_title do
  = t "activerecord.models.#{ selected_tab.singularize }"

- content_for :top do
  #logo
  #account_info
    = t 'common.messages.hi'
    = link_to current_user.username, edit_user_registration_path
    = t 'common.messages.not_you'
    = link_to t('links.logout'), destroy_user_session_path

= render :file => 'layouts/application'
