!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = render 'layouts/website/document_headers'
    
    = stylesheet_link_tag           "website_css/main.css"
    = render 'layouts/website/slider_javascript'
    
    %title= 'CloverInteractive'
  %body{ :class => (current_page.main_page? ? "" : "section" ) }
    #wrapper
      = render 'layouts/website/top'
      = render 'layouts/website/banner'
     
      - section_pages = current_section.pages.find(:all, :conditions => "name != '#{params[:page_name]}'")
      #mid
        - if current_section.name == 'conoce'
          = render 'layouts/website/about_box'
        - elsif !current_page.main_page?
          = render 'layouts/website/left_menu', :pages => section_pages
        - else    
          #content= yield
          = render 'layouts/website/right_menu', :pages => section_pages
      
      = render 'layouts/website/bottom'