!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    = render 'layouts/website/document_headers'
    
    = stylesheet_link_tag           "website_css/main.css"
    = javascript_include_tag        "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    
    = render 'layouts/website/slider_javascript'
    
    %title= 'CloverInteractive'
  %body
    #wrapper
      = render 'layouts/website/top'
      = render 'layouts/website/banner'
     
      #mid
        #content
          = yield
        
        - section = Section.find_by_name(params[:section_name])
        = render 'layouts/website/right_menu', :pages => section.pages
      
      = render 'layouts/website/bottom'