!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    = stylesheet_link_tag "website_css/main.css"
    = stylesheet_link_tag "sexylightbox.css"

    = render 'layouts/website/document_headers'

    %title= 'CloverInteractive'
  %body{ :class => (current_page.present? && current_page.main_page? ? "" : "section" ) }
    = render 'layouts/website/google_analytics'
    
    #wrapper
      = render 'layouts/website/top'
      = render 'layouts/website/banner'

      - section_pages = current_section.pages.find(:all, :conditions => "name != '#{params[:page_name]}'") if current_section.present?
      #mid
        - if current_section.present? && current_page.present?
          - if !current_page.main_page?
            = render 'layouts/website/left_menu', :pages => section_pages, :section => current_section
          - else
            #content= yield
            = render 'layouts/website/right_menu', :pages => section_pages, :section => current_section
        - elsif current_article.present?
          = render 'layouts/website/about_box'
        - elsif current_controller == 'articles'
          = render 'layouts/website/left_menu'
        - else
          = render 'layouts/website/left_404_info'

      = render 'layouts/website/slider_javascript'      
      = render 'layouts/website/bottom'
